# Descripción

La región de Medio Oriente ha sido escenario de conflictos prolongados, cambios políticos bruscos y tensiones étnicas y religiosas. Estos factores contribuyen a una inestabilidad geopolítica significativa, afectando la seguridad, economía y la vida cotidiana de millones de personas. La guerra civil en Siria, que comenzó en 2011, ha causado una devastadora crisis humanitaria y ha tenido profundas implicaciones geopolíticas a nivel regional y global. La inestabilidad resultante ha afectado no solo a Siria sino también a los países vecinos y ha tenido repercusiones en Europa debido a la crisis de refugiados. La inestabilidad geopolítica en Medio Oriente es una de las problemáticas más complejas y prolongadas a nivel mundial. La región ha sido testigo de conflictos armados, revoluciones, intervenciones extranjeras y tensiones étnicas y religiosas. Estos factores han generado un ambiente de inseguridad y volatilidad que afecta tanto a los países de la región como a la comunidad internacional.

In [15]:
import pandas as pd

### 1. Carga del Dataset elegido por el equipo:

In [2]:
df=pd.read_csv('../Dataset/geopolitical_instability_middle_east.csv', sep=',')
df

,Conflict_ID,Region,Conflict_Type,Start_Date,End_Date,Number_of_Incidents,Number_of_Deaths,Intervention_ID,Intervention_Country,Intervention_Organization,...,Government_Transparency,Number_of_Scandals,Number_of_Displaced_People,Number_of_Refugees,Humanitarian_Needs,Access_to_Humanitarian_Aid,Technology_Use_in_Conflicts,Technological_Investment,Number_of_Data_Analysis_Projects,Data_Analysis_Effectiveness
0,1,Afghanistan,terrorism,2010-01-01,NaN,48,820,1,Iraq,Red Cross,...,8,6,1097330,973012,medicine,high,low,40,12,7
1,2,Afghanistan,civil war,2010-01-02,2023-01-01,18,284,2,Afghanistan,Red Cross,...,7,2,4064229,1822404,shelter,low,medium,71,48,2
2,3,Iran,terrorism,2010-01-03,2023-01-01,55,29,3,Yemen,UN,...,2,4,1308294,1392299,shelter,medium,high,42,4,1
3,4,Iran,territorial conflict,2010-01-04,2023-01-01,14,458,4,Afghanistan,Red Cross,...,4,6,92928,878925,medicine,medium,medium,18,30,4
4,5,Iraq,terrorism,2010-01-05,2023-01-01,34,935,5,Iraq,Red Cross,...,4,5,3494593,1090382,water,medium,low,76,11,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Syria,terrorism,2037-05-14,NaN,63,757,9996,Iraq,UN,...,1,9,938855,534834,shelter,low,high,80,47,7
9996,9997,Iran,terrorism,2037-05-15,NaN,95,45,9997,Iran,UN,...,2,1,3445901,2273746,water,low,medium,57,31,2
9997,9998,Afghanistan,territorial conflict,2037-05-16,NaN,98,121,9998,Yemen,Red Cross,...,6,5,4246780,1884898,food,medium,medium,91,1,9
9998,9999,Syria,territorial conflict,2037-05-17,NaN,38,713,9999,Afghanistan,UN,...,1,4,946595,414533,water,low,medium,9,13,8
9999,10000,Afghanistan,civil war,2037-05-18,2023-01-01,75,418,10000,Iraq,Red Cross,...,7,9,2872072,2723564,water,medium,low,38,16,6

### 2. Mostrar la información general del dataset (info) y estadísticas descriptivas generales (describe):

In [3]:
# Información general del dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 37 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Conflict_ID                       10000 non-null  int64
 1   Region                            10000 non-null  object
 2   Conflict_Type                     10000 non-null  object
 3   Start_Date                        10000 non-null  object
 4   End_Date                          5012 non-null   object
 5   Number_of_Incidents               10000 non-null  int64
 6   Number_of_Deaths                  10000 non-null  int64
 7   Intervention_ID                   10000 non-null  int64
 8   Intervention_Country              10000 non-null  object
 9   Intervention_Organization         10000 non-null  object
 10  Intervention_Type                 10000 non-null  object
 11  Intervention_Start_Date           10000 non-null  object
 12  Intervention_End_Date             4951 non-null   object
 13  Intervention_Success              10000 non-null  object
 14  Country                           10000 non-null  object
 15  Population                        10000 non-null  int64
 16  GDP_Per_Capita                    10000 non-null  int64
 17  Unemployment_Rate                 10000 non-null  float64
 18  Poverty_Index                     10000 non-null  float64
 19  Literacy_Rate                     10000 non-null  float64
 20  Ethnic_Group                      10000 non-null  object
 21  Main_Religion                     10000 non-null  object
 22  Ethnic_Religious_Tension          10000 non-null  object
 23  Number_of_Conflicts               10000 non-null  int64
 24  Last_Conflict_Date                10000 non-null  object
 25  Corruption_Index                  10000 non-null  float64
 26  Governance_Quality                10000 non-null  int64
 27  Government_Transparency           10000 non-null  int64
 28  Number_of_Scandals                10000 non-null  int64
 29  Number_of_Displaced_People        10000 non-null  int64
 30  Number_of_Refugees                10000 non-null  int64
 31  Humanitarian_Needs                10000 non-null  object
 32  Access_to_Humanitarian_Aid        10000 non-null  object
 33  Technology_Use_in_Conflicts       10000 non-null  object
 34  Technological_Investment          10000 non-null  int64
 35  Number_of_Data_Analysis_Projects  10000 non-null  int64
 36  Data_Analysis_Effectiveness       10000 non-null  int64
dtypes: float64(4), int64(15), object(18)
memory usage: 2.8+ MB
None

In [4]:

# Estadísticas descriptivas generales
print(df.describe())

       Conflict_ID  Number_of_Incidents  Number_of_Deaths  Intervention_ID  \
count  10000.00000         10000.000000      10000.000000      10000.00000
mean    5000.50000            50.052900        497.471300       5000.50000
std     2886.89568            28.613692        289.219727       2886.89568
min        1.00000             1.000000          0.000000          1.00000
25%     2500.75000            25.000000        245.000000       2500.75000
50%     5000.50000            50.000000        496.000000       5000.50000
75%     7500.25000            75.000000        747.000000       7500.25000
max    10000.00000            99.000000        999.000000      10000.00000

         Population  GDP_Per_Capita  Unemployment_Rate  Poverty_Index  \
count  1.000000e+04    10000.000000       10000.000000   10000.000000
mean   2.051769e+07    25235.060200          27.319484      32.528334
std    1.127294e+07    14278.657358          13.036807      15.917012
min    1.002510e+06      500.000000           5.000000       5.000000
25%    1.082081e+07    12875.500000          15.890000      18.760000
50%    2.047260e+07    25176.500000          27.255000      32.540000
75%    3.034193e+07    37359.000000          38.790000      46.402500
max    3.999449e+07    49992.000000          50.000000      59.990000

       Literacy_Rate  Number_of_Conflicts  Corruption_Index  \
count   10000.000000         10000.000000      10000.000000
mean       74.520159             9.496400          5.450525
std        14.112838             5.740809          2.580811
min        50.010000             0.000000          1.000000
25%        62.407500             5.000000          3.250000
50%        74.740000             9.000000          5.440000
75%        86.760000            14.000000          7.650000
max        98.990000            19.000000         10.000000

       Governance_Quality  Government_Transparency  Number_of_Scandals  \
count        10000.000000             10000.000000        10000.000000
mean             4.998400                 4.988300            4.553200
std              2.583499                 2.590451            2.879548
min              1.000000                 1.000000            0.000000
25%              3.000000                 3.000000            2.000000
50%              5.000000                 5.000000            5.000000
75%              7.000000                 7.000000            7.000000
max              9.000000                 9.000000            9.000000

       Number_of_Displaced_People  Number_of_Refugees  \
count                1.000000e+04        1.000000e+04
mean                 2.493174e+06        1.504435e+06
std                  1.435110e+06        8.681561e+05
min                  4.800000e+01        5.860000e+02
25%                  1.264818e+06        7.555862e+05
50%                  2.471655e+06        1.499436e+06
75%                  3.738151e+06        2.262278e+06
max                  4.998856e+06        2.999562e+06

       Technological_Investment  Number_of_Data_Analysis_Projects  \
count              10000.000000                      10000.000000
mean                  49.969200                         25.056400
std                   28.562231                         14.114459
min                    1.000000                          1.000000
25%                   26.000000                         13.000000
50%                   50.000000                         25.000000
75%                   75.000000                         37.000000
max                   99.000000                         49.000000

       Data_Analysis_Effectiveness
count                 10000.000000
mean                      5.037100
std                       2.576934
min                       1.000000
25%                       3.000000
50%                       5.000000
75%                       7.000000
max                       9.000000

### 3. Tamaño del conjunto de datos:

In [5]:
# Tamaño del dataset
print(df.shape)

(10000, 37)

### 4. Columnas que contiene y qué información tienen:

In [6]:
# Nombres de las columnas
print(df.columns)

Index(['Conflict_ID', 'Region', 'Conflict_Type', 'Start_Date', 'End_Date',
       'Number_of_Incidents', 'Number_of_Deaths', 'Intervention_ID',
       'Intervention_Country', 'Intervention_Organization',
       'Intervention_Type', 'Intervention_Start_Date', 'Intervention_End_Date',
       'Intervention_Success', 'Country', 'Population', 'GDP_Per_Capita',
       'Unemployment_Rate', 'Poverty_Index', 'Literacy_Rate', 'Ethnic_Group',
       'Main_Religion', 'Ethnic_Religious_Tension', 'Number_of_Conflicts',
       'Last_Conflict_Date', 'Corruption_Index', 'Governance_Quality',
       'Government_Transparency', 'Number_of_Scandals',
       'Number_of_Displaced_People', 'Number_of_Refugees',
       'Humanitarian_Needs', 'Access_to_Humanitarian_Aid',
       'Technology_Use_in_Conflicts', 'Technological_Investment',
       'Number_of_Data_Analysis_Projects', 'Data_Analysis_Effectiveness'],
      dtype='object')

In [7]:
# Primeras filas del dataset para ver qué información contienen las columnas
print(df.head())

   Conflict_ID       Region         Conflict_Type  Start_Date    End_Date  \
0            1  Afghanistan             terrorism  2010-01-01         NaN
1            2  Afghanistan             civil war  2010-01-02  2023-01-01
2            3         Iran             terrorism  2010-01-03  2023-01-01
3            4         Iran  territorial conflict  2010-01-04  2023-01-01
4            5         Iraq             terrorism  2010-01-05  2023-01-01

   Number_of_Incidents  Number_of_Deaths  Intervention_ID  \
0                   48               820                1
1                   18               284                2
2                   55                29                3
3                   14               458                4
4                   34               935                5

  Intervention_Country Intervention_Organization  ... Government_Transparency  \
0                 Iraq                 Red Cross  ...                       8
1          Afghanistan                 Red Cross  ...                       7
2                Yemen                        UN  ...                       2
3          Afghanistan                 Red Cross  ...                       4
4                 Iraq                 Red Cross  ...                       4

  Number_of_Scandals Number_of_Displaced_People Number_of_Refugees  \
0                  6                    1097330             973012
1                  2                    4064229            1822404
2                  4                    1308294            1392299
3                  6                      92928             878925
4                  5                    3494593            1090382

  Humanitarian_Needs  Access_to_Humanitarian_Aid  Technology_Use_in_Conflicts  \
0           medicine                        high                          low
1            shelter                         low                       medium
2            shelter                      medium                         high
3           medicine                      medium                       medium
4              water                      medium                          low

   Technological_Investment  Number_of_Data_Analysis_Projects  \
0                        40                                12
1                        71                                48
2                        42                                 4
3                        18                                30
4                        76                                11

   Data_Analysis_Effectiveness
0                            7
1                            2
2                            1
3                            4
4                            8

[5 rows x 37 columns]

### 5. Qué tipos de datos:

In [8]:
# Tipos de datos de cada columna
print(df.dtypes)

Conflict_ID                           int64
Region                               object
Conflict_Type                        object
Start_Date                           object
End_Date                             object
Number_of_Incidents                   int64
Number_of_Deaths                      int64
Intervention_ID                       int64
Intervention_Country                 object
Intervention_Organization            object
Intervention_Type                    object
Intervention_Start_Date              object
Intervention_End_Date                object
Intervention_Success                 object
Country                              object
Population                            int64
GDP_Per_Capita                        int64
Unemployment_Rate                   float64
Poverty_Index                       float64
Literacy_Rate                       float64
Ethnic_Group                         object
Main_Religion                        object
Ethnic_Religious_Tension             object
Number_of_Conflicts                   int64
Last_Conflict_Date                   object
Corruption_Index                    float64
Governance_Quality                    int64
Government_Transparency               int64
Number_of_Scandals                    int64
Number_of_Displaced_People            int64
Number_of_Refugees                    int64
Humanitarian_Needs                   object
Access_to_Humanitarian_Aid           object
Technology_Use_in_Conflicts          object
Technological_Investment              int64
Number_of_Data_Analysis_Projects      int64
Data_Analysis_Effectiveness           int64
dtype: object

### 6. Visualizar los nans que contiene el dataset:

In [9]:
# Visualizar NaNs
print(df.isna().sum())

Conflict_ID                            0
Region                                 0
Conflict_Type                          0
Start_Date                             0
End_Date                            4988
Number_of_Incidents                    0
Number_of_Deaths                       0
Intervention_ID                        0
Intervention_Country                   0
Intervention_Organization              0
Intervention_Type                      0
Intervention_Start_Date                0
Intervention_End_Date               5049
Intervention_Success                   0
Country                                0
Population                             0
GDP_Per_Capita                         0
Unemployment_Rate                      0
Poverty_Index                          0
Literacy_Rate                          0
Ethnic_Group                           0
Main_Religion                          0
Ethnic_Religious_Tension               0
Number_of_Conflicts                    0
Last_Conflict_Date                     0
Corruption_Index                       0
Governance_Quality                     0
Government_Transparency                0
Number_of_Scandals                     0
Number_of_Displaced_People             0
Number_of_Refugees                     0
Humanitarian_Needs                     0
Access_to_Humanitarian_Aid             0
Technology_Use_in_Conflicts            0
Technological_Investment               0
Number_of_Data_Analysis_Projects       0
Data_Analysis_Effectiveness            0
dtype: int64

### 7. Limpiar el dataset para que no queden NAN:

In [10]:
df_cleaned = df.dropna()
df_cleaned

,Conflict_ID,Region,Conflict_Type,Start_Date,End_Date,Number_of_Incidents,Number_of_Deaths,Intervention_ID,Intervention_Country,Intervention_Organization,...,Government_Transparency,Number_of_Scandals,Number_of_Displaced_People,Number_of_Refugees,Humanitarian_Needs,Access_to_Humanitarian_Aid,Technology_Use_in_Conflicts,Technological_Investment,Number_of_Data_Analysis_Projects,Data_Analysis_Effectiveness
2,3,Iran,terrorism,2010-01-03,2023-01-01,55,29,3,Yemen,UN,...,2,4,1308294,1392299,shelter,medium,high,42,4,1
4,5,Iraq,terrorism,2010-01-05,2023-01-01,34,935,5,Iraq,Red Cross,...,4,5,3494593,1090382,water,medium,low,76,11,8
5,6,Iraq,civil war,2010-01-06,2023-01-01,12,50,6,Iraq,Red Cross,...,6,8,1015345,466694,food,medium,medium,70,31,1
10,11,Iran,civil war,2010-01-11,2023-01-01,18,709,11,Afghanistan,NATO,...,8,0,3928778,213261,water,low,high,42,28,5
11,12,Yemen,territorial conflict,2010-01-12,2023-01-01,96,135,12,Syria,UN,...,4,9,3850351,1678959,shelter,low,high,17,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965,9966,Iraq,civil war,2037-04-14,2023-01-01,71,481,9966,Iran,UN,...,2,1,4292217,1267322,medicine,high,high,79,20,6
9966,9967,Iraq,territorial conflict,2037-04-15,2023-01-01,84,971,9967,Iraq,UN,...,4,6,2896635,770060,shelter,high,high,67,16,6
9967,9968,Iraq,territorial conflict,2037-04-16,2023-01-01,15,976,9968,Yemen,UN,...,2,9,519423,1852784,medicine,low,medium,24,37,3
9977,9978,Syria,terrorism,2037-04-26,2023-01-01,37,957,9978,Iran,Red Cross,...,2,3,2200551,955471,shelter,low,low,64,17,6
9999,10000,Afghanistan,civil war,2037-05-18,2023-01-01,75,418,10000,Iraq,Red Cross,...,7,9,2872072,2723564,water,medium,low,38,16,6

### 8. Reindexar el dataset:

In [11]:
# Reindexar el dataset
df_cleaned = df_cleaned.reset_index(drop=True)
df_cleaned

,Conflict_ID,Region,Conflict_Type,Start_Date,End_Date,Number_of_Incidents,Number_of_Deaths,Intervention_ID,Intervention_Country,Intervention_Organization,...,Government_Transparency,Number_of_Scandals,Number_of_Displaced_People,Number_of_Refugees,Humanitarian_Needs,Access_to_Humanitarian_Aid,Technology_Use_in_Conflicts,Technological_Investment,Number_of_Data_Analysis_Projects,Data_Analysis_Effectiveness
0,3,Iran,terrorism,2010-01-03,2023-01-01,55,29,3,Yemen,UN,...,2,4,1308294,1392299,shelter,medium,high,42,4,1
1,5,Iraq,terrorism,2010-01-05,2023-01-01,34,935,5,Iraq,Red Cross,...,4,5,3494593,1090382,water,medium,low,76,11,8
2,6,Iraq,civil war,2010-01-06,2023-01-01,12,50,6,Iraq,Red Cross,...,6,8,1015345,466694,food,medium,medium,70,31,1
3,11,Iran,civil war,2010-01-11,2023-01-01,18,709,11,Afghanistan,NATO,...,8,0,3928778,213261,water,low,high,42,28,5
4,12,Yemen,territorial conflict,2010-01-12,2023-01-01,96,135,12,Syria,UN,...,4,9,3850351,1678959,shelter,low,high,17,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,9966,Iraq,civil war,2037-04-14,2023-01-01,71,481,9966,Iran,UN,...,2,1,4292217,1267322,medicine,high,high,79,20,6
2461,9967,Iraq,territorial conflict,2037-04-15,2023-01-01,84,971,9967,Iraq,UN,...,4,6,2896635,770060,shelter,high,high,67,16,6
2462,9968,Iraq,territorial conflict,2037-04-16,2023-01-01,15,976,9968,Yemen,UN,...,2,9,519423,1852784,medicine,low,medium,24,37,3
2463,9978,Syria,terrorism,2037-04-26,2023-01-01,37,957,9978,Iran,Red Cross,...,2,3,2200551,955471,shelter,low,low,64,17,6
2464,10000,Afghanistan,civil war,2037-05-18,2023-01-01,75,418,10000,Iraq,Red Cross,...,7,9,2872072,2723564,water,medium,low,38,16,6

### 9. Renombrar las columnas para una mejor comprensión:

In [12]:
nuevos_nombres = {
    'Conflict_ID' : "ID_Conflicto", 
    'Region' : "Región", 
    'Conflict_Type' : "Tipo_de_Conflicto", 
    'Start_Date' : "Fecha_de_Inicio", 
    'End_Date' : "Fecha_de_Finalización",
    'Number_of_Incidents' : "Número_de_Incidentes", 
    'Number_of_Deaths' : "Número_de_Muertes", 
    'Intervention_ID' : "ID_Intervención",
    'Intervention_Country' : "País_de_Intervención", 
    'Intervention_Organization' : "Organización_de_Intervención",
    'Intervention_Type' : "Tipo_de_Intervención", 
    'Intervention_Start_Date' : "Fecha_de_Inicio_de_Intervención", 
    'Intervention_End_Date' : "Fecha_de_Finalización_de_Intervención",
    'Intervention_Success' : "Éxito_de_Intervención", 
    'Country' : "País", 
    'Population' : "Población", 
    'GDP_Per_Capita' : "PIB_Per_Cápita",
    'Unemployment_Rate' : "Tasa_de_Desempleo", 
    'Poverty_Index' : "Índice_de_Pobreza", 
    'Literacy_Rate' : "Tasa_de_Alfabetización", 
    'Ethnic_Group' : "Grupo_Étnico",
    'Main_Religion' : "Religión_Principal", 
    'Ethnic_Religious_Tension' : "Tensión_Étnica_y_Religiosa", 
    'Number_of_Conflicts' : "Número_de_Conflictos",
    'Last_Conflict_Date' : "Fecha_del_Último_Conflicto", 
    'Corruption_Index' : "Índice_de_Corrupción", 
    'Governance_Quality' : "Calidad_de_Gobernanza",
    'Government_Transparency' : "Transparencia_Gubernamental", 
    'Number_of_Scandals' : "Número_de_Escándalos",
    'Number_of_Displaced_People' : "Número_de_Personas_Desplazadas", 
    'Number_of_Refugees' : "Número_de_Refugiados",
    'Humanitarian_Needs' : "Necesidades_Humanitarias", 
    'Access_to_Humanitarian_Aid' : "Acceso_a_Ayuda_Humanitaria",
    'Technology_Use_in_Conflicts' : "Uso_de_Tecnología_en_Conflictos", 
    'Technological_Investment' : "Inversión_Tecnológica",
    'Number_of_Data_Analysis_Projects' : "Número_de_Proyectos_de_Análisis_de_Datos", 
    'Data_Analysis_Effectiveness' : "Eficacia_del_Análisis_de_Datos"
}

# Aplicar los nuevos nombres de las columnas
df_cleaned.rename(columns=nuevos_nombres, inplace=True)